<ul class="list-group">
    <% unless comment.archived? %>
        <li class="list-group-item">
            <strong><%= comment.commenter %>: </strong> 
            <%= comment.body %>
            
            <%= link_to "Delete", [comment.article, comment], data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
            },
            class:"btn btn-primary btn-sm text-right"
            %>
            
        </li>
        
    <%end%>
</ul>