<% if resource.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li style="list-style: none;"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
