
<h1>Articles</h1>


Our blog has <%= Article.public_count %> articles and counting!


<ul class="list-group">
  <% @articles.each do |article| %>
    <% unless article.archived? %>
        <%= link_to article.title, article , class: "list-group-item" %>
      
      
    <%end%>
  <% end %>
</ul>

<div class="btn btn-primary float-end" style="margin-top: 5px">
  <%= link_to "Create new Article", new_article_path, :class => "btn btn-primary margin-top-xl" %>
</div>





