<%= link_to "Main Page", root_path %>
<div class="container mt-4">
  <div class="alert alert-danger">
    <h4 class="alert-heading">Error: You do not have access to this page</h4>
    <p class="mb-0">We're sorry, but you do not have permission to view the content of this page. Please contact the site administrator if you believe this is an error.</p>
  </div>
</div>
